{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        textarea {
            max-height: 300px !important;
            overflow: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <main>
        <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
            <div class="valign" style="width:100%;">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m8 offset-m2">
                            <div class="card z-depth-5">
                                {{ form_start(form) }}
                                <div class="card-content">
                                    {% if commentaire is defined %}
                                        <span class="card-title black-text">Modifier un compte-rendu</span>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ form_row(form.contenu, {'value': commentaire.getContenuCommentaire}) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ form_row(form.date, {'value': commentaire.dateToString}) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ form_row(form.priorite, {'value': commentaire.getPrioriteCommentaire}) }}
                                            </div>
                                        </div>
                                    {% else %}
                                        <span class="card-title black-text">Ajouter un compte-rendu</span>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ form_row(form.contenu) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ form_label(form.date, 'Date (Format : YYYY-MM-DD)') }}
                                                {{ form_row(form.date) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ form_row(form.priorite) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-action">
                                    <a class="btn" href="/projet/{{ idProjet }}">Retour</a>
                                    <input type="submit" class="btn" value="Valider">
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            document.getElementsByTagName('TEXTAREA')[0].setAttribute("class", "materialize-textarea");
            document.getElementsByTagName('LABEL')[1].innerHTML += ' (Format: YYYY-MM-DD)';
            document.getElementsByTagName('LABEL')[2].remove();

            var select = document.getElementsByTagName('SELECT')[0];
            var newElement = document.createElement('label');
            newElement.innerHTML = 'Priorité';

            select.parentNode.insertBefore(newElement, select.nextSibling)
            $('select').material_select();
        })
    </script>
{% endblock %}